In [1]:
import pandas as pd

In [2]:
aug_2017 = pd.read_csv("Resources/Aug_1_2017_Data.csv")

In [3]:
aug_2017.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,14744,Subscriber,1986.0,1
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,40.730207,-73.991026,3425,2 Ave & E 104 St,40.789210,-73.943708,19587,Subscriber,1981.0,1
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,40.691029,-73.991834,3397,Court St & Nelson St,40.676395,-73.998699,27937,Subscriber,1984.0,2
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,26066,Subscriber,1985.0,1
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,398,Atlantic Ave & Furman St,40.691652,-73.999979,29408,Subscriber,1982.0,2

In [4]:
aug_2017.count()

tripduration               1735599
starttime                  1735599
stoptime                   1735599
start station id           1735599
start station name         1735599
start station latitude     1735599
start station longitude    1735599
end station id             1735599
end station name           1735599
end station latitude       1735599
end station longitude      1735599
bikeid                     1735599
usertype                   1735599
birth year                 1507003
gender                     1735599
dtype: int64

In [5]:
aug_2017 = aug_2017[~(aug_2017['birth year'] < 1960)]

In [6]:
aug_2017.count()

tripduration               1632956
starttime                  1632956
stoptime                   1632956
start station id           1632956
start station name         1632956
start station latitude     1632956
start station longitude    1632956
end station id             1632956
end station name           1632956
end station latitude       1632956
end station longitude      1632956
bikeid                     1632956
usertype                   1632956
birth year                 1404360
gender                     1632956
dtype: int64

In [7]:
aug_2017 = aug_2017.dropna(how='any',axis=0)

In [8]:
aug_2017.count()

tripduration               1404360
starttime                  1404360
stoptime                   1404360
start station id           1404360
start station name         1404360
start station latitude     1404360
start station longitude    1404360
end station id             1404360
end station name           1404360
end station latitude       1404360
end station longitude      1404360
bikeid                     1404360
usertype                   1404360
birth year                 1404360
gender                     1404360
dtype: int64

In [9]:
aug_2017.to_csv("aug_2017.csv", index=False)