In [1]:
import pandas as pd

In [2]:
Q2017 = pd.read_csv('Q1Q4_data_2017.csv')

In [3]:
Q2017.head()

,Date,24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/17,1237,33
1,1/2/17,142,15
2,1/3/17,42,15
3,1/4/17,475,29
4,1/5/17,214,17

In [4]:
Q2017.count()

Date                                               365
24-Hour Passes Purchased (midnight to 11:59 pm)    365
3-Day Passes Purchased (midnight to 11:59 pm)      365
dtype: int64

In [5]:
Q2018 = pd.read_csv('Q1Q4_data_2018.csv')

In [6]:
Q2018.head()

,Date,24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/2018,123,7
1,1/2/2018,125,12
2,1/3/2018,164,4
3,1/4/2018,2,1
4,1/5/2018,14,0

In [7]:
Q2018.count()

Date                                               365
24-Hour Passes Purchased (midnight to 11:59 pm)    365
3-Day Passes Purchased (midnight to 11:59 pm)      365
dtype: int64

In [8]:
Q1Q4_frames = [Q2017, Q2018]

Q_2017_2018 = pd.concat(Q1Q4_frames)

In [9]:
Q_2017_2018.head()

,Date,24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/17,1237,33
1,1/2/17,142,15
2,1/3/17,42,15
3,1/4/17,475,29
4,1/5/17,214,17

In [10]:
Q_2017_2018.count()

Date                                               730
24-Hour Passes Purchased (midnight to 11:59 pm)    730
3-Day Passes Purchased (midnight to 11:59 pm)      730
dtype: int64

In [11]:
Q_2017_2018.to_csv("Q1Q4_2017_2018.csv", index=False)